<div class='header-wrapper'>
    <div class='row'>
        <!-- Logo section starts from here -->
        <div class='column'>
            <div class='logo-column'>
                <img class="logo" src="../../../../assets/images/scart-mid.png" />
            </div>
        </div>

        <!-- Searchbar starts from here -->
        <div class='column'>
            <div class='search-column'>
                <form class="search" [formGroup]="productSearch">
                    <input type="text" placeholder="Search products..." (keyup.enter)="searchTerm.next($event)" formcontrolname="title">
                </form>
            </div>
        </div>

        <!-- User account and logout starts from here -->
        <div class='column'>
            <div class='user-column dropdown' (click)="toggleDrop()">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                <span class="welcome">Welcome {{fullname}}</span>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
            <div class="wid78">
                <i class="fa fa-shopping-cart fa-lg pull-right"><span class="cart-count">{{(items$ | async).length}}
                        Item</span></i>
            </div>

            <div class="dropdown-content" *ngIf="isDropdownOpen">
                <span (click)="logout()">Logout</span>
            </div>
            <div class="clickCatcher" *ngIf="isDropdownOpen" (click)="closeDrop()"></div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>