@import "../../../../../../../sass/main.scss";

.list {
  border-bottom: 1px solid $light-grey;
  @include padding(0px 15px 15px 15px);
}

.filter-wrap,
.selectall-wrap {
  display: flex;
  flex-direction: row;
  @include min-height(25px);
  @include margin-top(10px);
  justify-content: space-between;

  p {
    @include margin-bottom(0);
  }

  div:nth-child(1) {
    display: flex;
    flex-direction: row;

    p {
      color: $blue;
      font-weight: 500;

      @media #{$tablet-only} {
        @include font-size(12px);
        @include margin-top(-1px);
      }
    }
  }
}

.selectall-wrap {
  @include height(25px);
}

.expand-icon {
  color: $gray-dark;
  cursor: pointer;
  width: 90%;
}

.search-icon {
  cursor: pointer;
  @include padding-left(12px);
}

.srch {
  color: $gray-medium;
  box-shadow: 0px 0px 15px $brdr;
  border-radius: 50%;
  @include font-size(14px);
  background-color: #f3f3f3;
  cursor: pointer;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  position: relative;
}

.search-control {
  @include padding(6px 12px);
  height: calc(1.5em + 0.5rem);
  @include margin-top(6px);
  width: 100%;
  background: #f5f5f5;
  color: $gray-medium;
  @include font-size(12px);
  border: none;
  position: relative;
  @include padding-right(30px);
  @include border-radius(5px);
}

.search-control:focus {
  border: 1px solid #37a9e1;
  outline: 0;
}

.cross {
  position: absolute;
  z-index: 1;
  @include font-size(27px);
  color: $gray-opac;
  @include right(9px);
  cursor: pointer;
  @include top(3px);
}

.hyperlk {
  color: $blue;
  font-weight: 500;
  cursor: pointer;
  @include padding-left(10px);
}

.filter-list-wrap {
  @include max-height(120px);
  overflow: hidden;
}

.more {
  margin-left: 10%;
  @include margin-top(5px);
}

input[type="checkbox"] {
  @include width(16px);
  @include height(16px);
  @media #{$tablet-only} {
    @include width(14px);
    @include height(14px);
  }
}
