<div class="list">
    <div class="fltrTp">
      <p class="clrdrk" (click)="expandFn()">
        <strong>{{ heading }}</strong></p>
      <div *ngIf="!search" class="search" (click)="onSearch()">
        <i class="fa fa-search srch" aria-hidden="true"></i>
      </div>
    </div>
    <div class="expand" *ngIf="expand">
      <ng-container *ngIf="filterList | filter: searchText as result">
        <div class="flex" *ngIf="search">
          <input type="text" [(ngModel)]="searchText" (keyup)="onKey($event, result)" class="form-control"
            placeholder="Search" #search />
          <span class="cross" (click)="clearSearch()">&times;</span>
        </div>
        <div class="selectAll" *ngIf="result.length">
          <div>
            <input class="select-all" type="checkbox" [checked]="isSelectAll" (change)="selectAll()" />
            <p class="hyperlk col1" (click)="selectAll()">Select All</p>
          </div>
          <p *ngIf="arr.length > 0" class="hyperlk col2" (click)="clear()">Clear</p>
        </div>
        <div class="fltrList">
          <ng-container *ngFor="let item of result;">
            <app-filter-list  [item]="item" [inputFns]="this"></app-filter-list>
          </ng-container>
        </div>
        <!-- <div class="more">
          <ng-container *ngIf="result | filterShowMore ">
            <p class="hyperlk">+
              {{result | filterShowMore}}
              more</p>
          </ng-container>
        </div> -->
      </ng-container>
    </div>
  </div>
  