// Fonts specific to theme
@font-face {
    font-family: "whitney";
    src: url("//db.onlinewebfonts.com/t/23f6a3ef666a3eb2b4a69dd71f693343.eot");
    src: url("//db.onlinewebfonts.com/t/23f6a3ef666a3eb2b4a69dd71f693343.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/23f6a3ef666a3eb2b4a69dd71f693343.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/23f6a3ef666a3eb2b4a69dd71f693343.woff") format("woff"), url("//db.onlinewebfonts.com/t/23f6a3ef666a3eb2b4a69dd71f693343.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/23f6a3ef666a3eb2b4a69dd71f693343.svg#Whitney-Semibold") format("svg");
  }