@import "../../../../../../../../sass/main.scss";

.list {
  display: flex;
  flex-direction: row;
  @include height(25px);
}

.flex-wrap {
  display: flex;
  width: 100%;
  cursor: pointer;
  @include padding-left(10px);
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100% - 58px);
  height: 100%;
  color: $gray-medium;

  @media #{$tablet-only} {
    max-width: 100%;
    @include font-size(12px);
  }
}

input[type="checkbox"] {
  @include width(16px);
  @include height(16px);

  @media #{$tablet-only} {
    @include width(13px);
    @include height(13px);
  }
}
