@import "../../../../../../sass/main.scss";

.filter-wrap {
  background-color: $light;
  border: 1px solid $light-grey;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  border-radius: 5px;
}

.b-bottom {
  border-bottom: 1px solid $light-grey;
}

.info-wrap {
  display: flex;
  justify-content: space-between;
}

.name-listing {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}


.clear-all {
  color: $gray-dark;
  @include letter-spacing(0.26px);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  padding: 6px 15px;
  cursor: pointer;
}


