@import "../../../../../../sass/main.scss";

.filter-wrap {
  background-color: $light;
  border: 1px solid $light-grey;
  @include margin-bottom(10px);
  float: left;
  width: 100%;
  @include border-radius(5px);
}

.b-bottom {
  border-bottom: 1px solid $light-grey;
}

.info-wrap {
  display: flex;
  justify-content: space-between;
}

.name-listing {
  @include padding(10px 15px);
  display: flex;
  flex-direction: column;
  @media #{$tablet-only} {
    @include font-size(12px);
  }
}

.clear-all {
  color: $gray-dark;
  @include letter-spacing(0.26px);
  text-transform: uppercase;
  font-weight: 600;
  @include font-size(12px);
  @include line-height(25px);
  @include padding(6px 15px);
  cursor: pointer;

  @media #{$tablet-only} {
    @include letter-spacing(0);
    @include font-size(11px);
    @include line-height(20px);
  }
}
