<div class="filter-wrap">
  <!-- filter by and clear all section starts from here -->
  <div class="info-wrap b-bottom">
    <p class="name-listing"><strong>FILTER BY</strong></p>
    <p class="clear-all" *ngIf="(clearAllText$)" (click)="clearAll()"><strong>CLEAR ALL</strong></p>
  </div>

  <!-- Include selector here -->
  <app-filter-type [inputFns]="this" [heading]="'BRAND'" #mul1></app-filter-type>
  <app-filter-type [inputFns]="this" [heading]="'COLOUR'" #mul2></app-filter-type>
  <app-filter-type [inputFns]="this" [heading]="'PRICE'" #mul3></app-filter-type>
</div>