<section class="container">
    <!-- Left image section starts from here -->
    <div class="left-half">&nbsp;
    </div>

    <!-- Right login form starts from here -->
    <div class="right-half">
        <article>
            <h1>Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="input-wrapper">
                    <!-- username input box -->
                    <div class="input-username">
                        <input placeholder="Enter your username" formControlName="username"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="custom-input" />
                        <span *ngIf="submitted && f.username.errors" class="error-msg">
                            <span *ngIf="f.username.errors.required">Username is required</span>
                        </span>
                    </div>

                    <!-- Password input box -->
                    <div class="input-password">
                        <input placeholder="Enter your password" formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="custom-input" />
                        <span *ngIf="submitted && f.password.errors" class="error-msg">
                            <span *ngIf="f.password.errors.required">Password is required</span>
                        </span>
                    </div>
                    <button type="submit" class="submit_btn">login</button>

                    <!-- Loader section -->
                    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                        <p class="white">Please Wait.</p>
                    </ngx-spinner>
                </div>
            </form>
        </article>
    </div>
</section>