<section class="container">
    <!-- Left image section starts from here -->
    <div class="left-half">&nbsp;
    </div>

    <!-- Right login form starts from here -->
    <div class="right-half">
        <article>
            <h1>Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="input-wrapper">
                    <!-- username input box -->
                    <div class="input-username">
                        <input placeholder="Enter your username" formControlName="username"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="custom-input" />
                        <span *ngIf="submitted && f.username.errors" class="error-msg">
                            <span *ngIf="f.username.errors.required">{{valUser}}</span>
                        </span>
                    </div>

                    <!-- Password input box -->
                    <div class="input-password">
                        <input placeholder="Enter your password" formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="custom-input" />
                        <span *ngIf="submitted && f.password.errors" class="error-msg">
                            <span *ngIf="f.password.errors.required">{{valPass}}</span>
                        </span>
                    </div>
                    <button class="submit_btn">login</button>
                </div>
            </form>
        </article>
    </div>
</section>